.menu-panel{
    background-color: rgb(181, 241, 241);
    display:flex-column;
    padding: 0px;
}
.menu-panel ul{
    list-style: none;
}
.menu-panel a{
    text-decoration: none;
    color: rgb(48, 52, 61);
    letter-spacing: 0em;
    transition: letter-spacing 0.5s;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.menu-panel a:hover{
    color: hsl(222, 12%, 15%);
    letter-spacing: 0.5em;
}