
.main{
  display: flex;
  padding: 30px 10px;
  flex: 0.75;
  flex-direction: column;
}
.main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-top{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.main-top > h2{
  font-weight: 400;
  font-size: 25px;
  color: rgba(0,0,0,0.8);
}
.main-desc {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.info {
  display: flex;
  align-items: center;
  font-size: small;
}

.info > p {
  color: rgba(0, 0, 0, 0.4);
  margin: 0 10px;
}

.info > p > span {
  color: rgba(0, 0, 0, 0.8);
  margin: 0 5px;
}
.arrow {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.25);
  margin-bottom: 0px;
}

.all-options {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-option{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}



pre {
  display: flex;
  width: 90px;
  flex-wrap: wrap;
}
button{
padding: 8px 15px;
background-color: #F77E21;
color: #fff;
border: 1.5px solid #EF5B0C;
outline: none;
border-radius: 5px;
cursor: pointer;
}

.all-questions-left{
  display: flex;
  margin-right: 30px;
  max-width: fit-content;
}
.question-answer{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.user{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-bottom: 20px;
}
.user >small{
  color: rgba(0,0,0,0.7);
  margin-bottom: 5px;
}
.user-details{
  display: flex;
  align-items: center;
}
.user-details >p{
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: small;
  color: #0151f0d8;
}
.all-questions-container{
  display: flex;
  margin: 30px;
}
.comments{
  margin: 10px 0;
  width: 90%;
  margin-left: auto;
}
.comment{
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.comment >p {
  margin: 10px 0;
}
.comment >p >span {
padding: 3px;
background-color: #FFAE6D;
border-radius: 2px;
}
.comments >p {
  margin-left: -35px;
  margin-right: 20px;
  margin-top: 10px;
  padding-top: 10px;
  font-size: small;
  cursor: pointer;
  color: rgba(0,0,0,0.4);
  width:fit-content;
}
.comments >p:hover {
  color: #FFAE6D;
}
